/* Body */
body{
    background-color: #EDEDED; 
}
/* Navbar */
.navbar{
    max-height: 57px; 
}

.navigation .navbar-brand{
    color: white; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    background-color: white; 
    font-size: 15px; 
}

.navbar-brand:hover{
  color: rgb(175, 175, 175) !important;
}


/* Images */
img{
    width:100% !important;
    height:100% !important;
}

.active, .panel:hover{
    border-color:#0BADA6;
    border-style: solid; 
}

.vizualization{
    width:50% !important;
    height:50% !important;
}

.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color: #0BADA6 !important; 
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #0BADA6 !important; 
}

/* Title Class  */
.title{
    color: #0BADA6;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
/* Paragraph */
p{
 color: #6D8092;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 17px; 
}
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 

  }

/* Footer */
footer{
background-color: #666666; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color: #0BADA6;
color: white; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}

.table{
    font-size: 15px; 
    border-top-color: white !important; 
}

/* Media Queries */
@media(max-width: 992px){
.navbar-expand-lg{
background-color: #0BADA6 !important;
}
.navbar{
    max-height: none; 
}
.navbar ul li{
    background-color: white; 
}

}

